{% extends 'base.html' %}

{% block title %}
    {{ client.client_ref }} - {{ block.super }}
{% endblock %}

{% block main %}
<h1>{{ client.lastname }}, {{ client.firstname }}</h1>
<table class="table table-sm table-striped">
    <tbody>
        <tr>
            <th scope="row">Client Ref</th>
            <td>{{ client.client_ref }}</td>
        </tr>
        <tr>
            <th scope="row">Date of Birth</th>
            <td>{{ client.dob }}</td>
        </tr>
        <tr>
            <th scope="row">HKID</th>
            <td>{{ client.hk_id }}</td>
        </tr>
        <tr>
            <th scope="row">Sex</th>
            <td>{{ client.sex }}</td>
        </tr>
        <tr>
            <th scope="row">Telephone</th>
            <td>{{ client.tel }}</td>
        </tr>
        <tr>
            <th scope="row">Address</th>
            <td>{{ client.address }}</td>
        </tr>
        <tr>
            <th scope="row">District</th>
            <td>{{ client.area }}</td> 
        </tr>
    </tbody>
</table>
{% endblock %}

{% block sidebar %}
  <h2>Status:</h2> 
  {% if client.is_active %}
  Active
  {% else %}
  Inactive
  {% endif %}

{% endblock %}