{% extends 'base.html' %}

{% block title %}
  Client List
{% endblock %}

{% block main %}
   <h1>Client List</h1>
    {% if latest_client_list %}
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Client Ref</th>
                    <th scope="col">Full name</th>
                    <th scope="col">HKID</th>
                    <th scope="col">Sex</th>
                    <th scope="col">Telephone</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for client in latest_client_list %}
                <tr>
                    <td>{{ client.client_ref }}</td>
                    <td>{{ client.full_name }}</td>
                    <td>{{ client.hk_id }}</td>
                    <td>{{ client.sex }}</td>
                    <td>{{ client.tel }}</td>
                    <td><a href="{% url 'clientdb:detail' client.id %}">Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% if is_paginated %}
        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <a href="{% url 'clientdb:ClientList' %}?page=1"
                       class="page-link">
                        First
                    </a>
                </li>
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="{% url 'clientdb:ClientList' %}?page={{ page_obj.previous_page_number }}" 
                       class="page-link">
                        {{ page_obj.previous_page_number }}
                    </a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a href="{% url 'clientdb:ClientList' %}?page={{ page_obj.number }}" 
                       class="page-link">
                        {{ page_obj.number }}
                    </a>
                </li>
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="{% url 'clientdb:ClientList' %}?page={{ page_obj.next_page_number }}" 
                       class="page-link">
                        {{ page_obj.next_page_number }}
                    </a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a href="{% url 'clientdb:ClientList' %}?page=last"
                       class="page-link">
                        Last 
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
    
    {% else %}
        <p>No clients are available.</p>
    {% endif %}
  
{% endblock %}
{% block sidebar %}
  Sidebar
{% endblock %}   