{% extends 'base.html' %}

{% block title %}
  Client List
{% endblock %}

{% block main %}
   <h1>Client List</h1>
    {% if latest_client_list %}
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Client ID</th>
                    <th scope="col">Full name</th>
                    <th scope="col">HKID</th>
                    <th scope="col">Sex</th>
                    <th scope="col">Telephone</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for client in latest_client_list %}
                <tr>
                    <td>{{ client.client_id }}</td>
                    <td>{{ client.full_name }}</td>
                    <td>{{ client.hk_id }}</td>
                    <td>{{ client.sex }}</td>
                    <td>{{ client.tel }}</td>
                    <td><a href="{% url 'clientdb:detail' client.id %}">Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No clients are available.</p>
    {% endif %}
  
{% endblock %}
{% block sidebar %}
  Sidebar
{% endblock %}   