<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    -->
    <title>
        {% block title %}ClientDB{% endblock %}
    </title>
    <style>
        .cdb-masthead {
            background-color: #eee;
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
    <div class="cdb-masthead">
        <div class="container">
            <nav class="nav">
                <div class="navbar-brand">ClientDB</div>
                <a 
                    href="{% url 'clientdb:ClientList' %}" 
                    class="nav-link">
                    Clients
                </a>
                <a
                    href="{% url 'clientdb:ClientAdd' %}" 
                    class="nav-link">
                    Add
                </a>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-9 cdb-main">
                {% block main %}{% endblock %}
            </div>
            <div class="col-sm-2 offset-sm-1 cdb-sidebar">
                {% block sidebar %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>